.meme {
  background-color: black;
  width: 40%;
  margin-left: 25%;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

p {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
body {
  background-color: black;
}

#image {
  width: 100%;
  border: 5px solid white;
}
